#middle-panel {
  .home {
    p {
      width: 65%;
      padding: 100px;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

#top-panel {
  .home {
    background-position: right !important;

    p {
      padding: 100px;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

#middle-panel, #top-panel {
  .home {
    height: calc(100vh - 71px);
    background-image: url(../images/photos/home.png);
    background-size: cover;
    background-position: center;
    color: white;

    p {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
    }

    .main-sponsors {
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;

      .left-sponsor, .right-sponsor {
        float: left;
        width: 50%;

        img {
          width: 100px;
          cursor: pointer;
        }
      }

      .left-sponsor {
        img {
          float: right;
          margin-right: 25px;
        }
      }

      .right-sponsor {
        img {
          float: left;
          margin-left: 25px;
        }
      }
    }
  }
}
