#middle-panel {
  .home {
    p {
      width: 65%;
      padding: 100px 50px;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

#top-panel {
  .home {
    background-position: right !important;

    p {
      padding: 100px;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

#middle-panel, #top-panel {
  .home {
    height: calc(100vh - 7.2vh);
    background-image: url(../images/photos/home.png);
    background-size: cover;
    background-position: center;
    color: white;

    p {
      margin: 0;
      font-size: 1.5em ;
      font-weight: bold;
    }

    .main-sponsors {
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;

      img {
        float: left;
        width: 100px;
        cursor: pointer;

        &.left-sponsor {
          margin: 0px 50px;
        }
      }
    }
  }
}
