html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto", sans-serif;
}

header {
  height: 70px;
  font-size: 14px;
  color: rgba(17, 17, 17, 0.6);

  .home {
    float: left;
    padding: 8px 0px 8px 25px;
    width: 15%;

    img {
      cursor: pointer;
    }
  }

  nav {
    float: left;
    width: 70%;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 27px 15px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          color: rgb(17, 17, 17);
        }

        &.active {
          color: rgb(230, 33, 23);
        }

      }
    }
  }

  .social-links {
    float: right;
    width: 15%;

    ul {
      float: right;
      margin: 0;
      padding: 0 25px 0 15px;

      li {
        display: inline-block;
        margin: 25px 10px;
        cursor: pointer;
        font-size: 17px;

        i:hover {
          &.fa-twitter { color: #55acee; }
          &.fa-facebook { color: #3b5998; }
          &.fa-instagram { color: #e95950; }
          &.fa-youtube { color: #ff0000; }
        }
      }
    }
  }
}

.panels {
  padding: 0 !important;
  background-color: rgb(250, 250, 250);

  .panel {
    height: calc(100vh - 70px);
    float: left;

    &#left-panel {
      #homePanel {
        h1 {
          text-align: center;
          margin: 100px 0px;
        }

      }
    }

    &#middle-panel {
      padding: 0;

      .team-photo {
        height: calc(100vh - 70px);
        background-image: url(../images/photos/team-photo.jpg);
        background-size: cover;
        background-position-x: -50px;
      }
    }
  }
}
