html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto", sans-serif;
}

header {
  height: 70px;
  font-size: 14px;
  color: rgba(17, 17, 17, 0.6);
}
header .home {
  float: left;
  padding: 8px 0px 8px 25px;
  width: 15%;
}
header .home img {
  cursor: pointer;
}
header nav {
  float: left;
  width: 70%;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  margin: 27px 15px;
  text-transform: uppercase;
  cursor: pointer;
}
header nav ul li:hover {
  color: #111111;
}
header nav ul li.active {
  color: #e62117;
}
header .social-links {
  float: right;
  width: 15%;
}
header .social-links ul {
  float: right;
  margin: 0;
  padding: 0 25px 0 15px;
}
header .social-links ul li {
  display: inline-block;
  margin: 25px 10px;
  cursor: pointer;
  font-size: 17px;
}
header .social-links ul li i:hover.fa-twitter {
  color: #55acee;
}
header .social-links ul li i:hover.fa-facebook {
  color: #3b5998;
}
header .social-links ul li i:hover.fa-instagram {
  color: #e95950;
}
header .social-links ul li i:hover.fa-youtube {
  color: #ff0000;
}

.panels {
  padding: 0 !important;
  background-color: #fafafa;
}
.panels .panel {
  height: calc(100vh - 70px);
  float: left;
}
.panels .panel#left-panel #homePanel h1 {
  text-align: center;
  margin: 100px 0px;
}
.panels .panel#middle-panel {
  padding: 0;
}
.panels .panel#middle-panel .team-photo {
  height: calc(100vh - 70px);
  background-image: url(../images/photos/team-photo.jpg);
  background-size: cover;
  background-position-x: -50px;
}
.panels .panel#middle-panel .sponsors-list {
  text-align: center;
  height: calc(100vh - 70px);
  overflow: auto;
}
.panels .panel#middle-panel .sponsors-list h2 {
  font-size: 30px;
  margin-top: 40px;
}
.panels .panel#middle-panel .sponsors-list .sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.panels .panel#middle-panel .sponsors-list .sponsors .sponsor img {
  max-width: 100%;
}
.panels .panel#middle-panel .sponsors-list .sponsors .sponsor img:hover {
  cursor: pointer;
}
.panels .panel#middle-panel .sponsors-list .sponsors.platinum-sponsor .sponsor {
  margin: 0 30px;
  width: 35%;
}
.panels .panel#middle-panel .sponsors-list .sponsors.gold-sponsor .sponsor {
  margin: 0 50px;
  width: 17%;
}
.panels .panel#middle-panel .sponsors-list .sponsors.silver-sponsor .sponsor {
  margin: 0 30px;
  width: 15%;
}
.panels .panel#middle-panel .sponsors-list .sponsors.bronze-sponsor .sponsor {
  margin: 0 10px;
  width: 12%;
}
.panels .panel#middle-panel .sponsors-list .sponsors.partners-sponsor .sponsor {
  margin: 0 10px;
  width: 10%;
}
.panels .panel#middle-panel .sponsors-list .sponsors.institutional-partners-sponsor .sponsor {
  margin: 0 15px;
  width: 10%;
}

/*# sourceMappingURL=styles/index.css.map */
