html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto", sans-serif;
}

header {
  height: 70px;
  font-size: 14px;
  color: rgba(17, 17, 17, 0.6);

  .home {
    float: left;
    padding: 8px 0px 8px 25px;
    width: 20%;

    img {
      cursor: pointer;
    }
  }

  nav {
    float: left;
    width: 60%;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 27px 15px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          color: rgb(17, 17, 17);
        }

        &.active {
          color: rgb(230, 33, 23);
        }

        &.change-language {
          margin: 0px 15px;

          img {
            position: absolute;
            height: 22px;
            top: 22px;
          }
        }

      }
    }
  }

  .social-links {
    float: right;
    width: 20%;

    ul {
      float: right;
      margin: 0;
      padding: 0 25px 0 15px;

      li {
        display: inline-block;
        margin: 25px 10px;
        cursor: pointer;
        font-size: 17px;

        i:hover {
          &.fa-twitter { color: #55acee; }
          &.fa-facebook { color: #3b5998; }
          &.fa-instagram { color: #e95950; }
          &.fa-youtube { color: #ff0000; }
        }
      }
    }
  }

  #menu {
    display: none;
    height: 0px;

    &.open {
      display: block;
      height: 350px;
      width: 100%;
      position: absolute;
      margin-top: 70px;
      z-index: 2;
      background-color: white;
    }

    nav {
      width: 100%;

      li {
        display: block;

        &.change-language {
          margin: 0px 15px 15px;

          img {
            position: initial;
          }
        }
      }
    }

    .social-links {
      width: 100%;

      ul {
        float: none;
        text-align: center;
        padding: 0;

        li {
          margin: 25px 1  5px;
        }
      }
    }
  }
}

.panels {
  padding: 0 !important;
  background-color: rgb(250, 250, 250);

  .panel {
    height: calc(100vh - 71px);
    float: left;

    .page-panel {
      display: none;
      width: 100%;
      
      &.open {
        display: block;
      }
    }

    &#left-panel {
      #homePanel {
        h1 {
          text-align: center;
          margin: 100px 0px;
        }
      }
    }

    &#top-panel {
      .home {
        background-position-x: -2000px;

        p {
          padding: 100px;
        }
      }
    }

    &#middle-panel {
      .home {
        p {
          width: 60%;
          padding: 100px;
        }
      }
    }

    &#middle-panel, &#top-panel {
      .home {
        height: calc(100vh - 71px);
        background-image: url(../images/photos/home.png);
        background-size: cover;
        color: white;

        p {
          margin: 0;
          font-size: 20px;
          font-weight: bold;
        }

        .main-sponsors {
          width: 100%;
          position: absolute;
          bottom: 0;
          text-align: center;

          .left-sponsor, .right-sponsor {
            float: left;
            width: 50%;

            img {
              width: 100px;
              cursor: pointer;
            }
          }

          .left-sponsor {
            img {
              float: right;
              margin-right: 50px;
            }
          }

          .right-sponsor {
            img {
              float: left;
              margin-left: 50px;
            }
          }
        }
      }
    }

    &#middle-panel {
      padding: 0;

      .formula-student-photo {
        height: calc(100vh - 70px);
        background-image: url(../images/photos/formula-student.png);
        background-size: cover;
        background-position-x: -20px;
      }

      .sponsors-list {
        text-align: center;
        height: calc(100vh - 70px);
        overflow: auto;

        h2 {
          font-size: 30px;
          margin-top: 40px;
        }

        .sponsors {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          .sponsor{
            img {
              max-width: 100%;

              &:hover {
                cursor: pointer;
              }
            }
          }

          &.platinum-sponsor {
            .sponsor {
              margin: 0 30px;
              width: 35%;
            }
          }

          &.gold-sponsor {
            .sponsor {
              margin: 0 50px;
              width: 17%;
            }
          }

          &.silver-sponsor {
            .sponsor {
              margin: 0 30px;
              width: 15%;
            }
          }

          &.bronze-sponsor {
            .sponsor {
              margin: 0 10px;
              width: 12%;
            }
          }

          &.partners-sponsor {
            .sponsor {
              margin: 0 10px;
              width: 10%;
            }
          }

          &.institutional-partners-sponsor {
            .sponsor {
              margin: 0 15px;
              width: 10%;
            }
          }
        }
      }
      .contact-map {
        height: calc(100vh - 74px);
      }
    }
  }
}
