button {
  padding: 15px;
  background-color: #00A1E4;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  min-width: 100px;
}

header {
  height: 70px;
  font-size: 14px;
  color: rgba(17, 17, 17, 0.6);
  border-bottom: 1px solid lightgray;
}
header .home {
  float: left;
  padding: 8px 0px 8px 25px;
  width: 20%;
}
header .home img {
  cursor: pointer;
}
header nav {
  float: left;
  width: 60%;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  margin: 27px 15px;
  text-transform: uppercase;
  cursor: pointer;
}
header nav ul li:hover {
  color: #111111;
}
header nav ul li.active {
  color: #e62117;
}
header nav ul li.change-language {
  margin: 0px 15px;
}
header nav ul li.change-language img {
  position: absolute;
  height: 22px;
  top: 22px;
}
header .social-links {
  float: right;
  width: 20%;
}
header .social-links ul {
  float: right;
  margin: 0;
  padding: 0 25px 0 15px;
}
header .social-links ul li {
  display: inline-block;
  margin: 25px 10px;
  cursor: pointer;
  font-size: 17px;
}
header .social-links ul li i:hover.fa-twitter {
  color: #55acee;
}
header .social-links ul li i:hover.fa-facebook {
  color: #3b5998;
}
header .social-links ul li i:hover.fa-instagram {
  color: #e95950;
}
header .social-links ul li i:hover.fa-youtube {
  color: #ff0000;
}
header #menu {
  display: none;
  height: 0px;
}
header #menu.open {
  display: block;
  height: 350px;
  width: 100%;
  position: absolute;
  margin-top: 70px;
  z-index: 2;
  background-color: white;
}
header #menu nav {
  width: 100%;
}
header #menu nav li {
  display: block;
}
header #menu nav li.change-language {
  margin: 0px 15px 15px;
}
header #menu nav li.change-language img {
  position: initial;
}
header #menu .social-links {
  width: 100%;
}
header #menu .social-links ul {
  float: none;
  text-align: center;
  padding: 0;
}
header #menu .social-links ul li {
  margin: 25px 1 5px;
}

#middle-panel .home p {
  width: 65%;
  padding: 100px 50px;
  text-align: justify;
  text-justify: inter-word;
}

#top-panel .home {
  background-position: right !important;
}
#top-panel .home p {
  padding: 100px;
  text-align: justify;
  text-justify: inter-word;
}

#middle-panel .home, #top-panel .home {
  height: calc(100vh - 71px);
  background-image: url(../images/photos/home.png);
  background-size: cover;
  background-position: center;
  color: white;
}
#middle-panel .home p, #top-panel .home p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
#middle-panel .home .main-sponsors, #top-panel .home .main-sponsors {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
#middle-panel .home .main-sponsors img, #top-panel .home .main-sponsors img {
  float: left;
  width: 100px;
  cursor: pointer;
}
#middle-panel .home .main-sponsors img.left-sponsor, #top-panel .home .main-sponsors img.left-sponsor {
  margin: 0px 50px;
}

#left-panel .about, #right-panel .about, #middle-top-panel .about, #bottom-panel .about {
  padding: 0px 15px;
}
#left-panel .about h1, #right-panel .about h1, #middle-top-panel .about h1, #bottom-panel .about h1 {
  text-align: center;
  margin: 50px 0px;
}
#left-panel .about p, #right-panel .about p, #middle-top-panel .about p, #bottom-panel .about p {
  text-align: justify;
  text-justify: inter-word;
}
#left-panel .about p br, #right-panel .about p br, #middle-top-panel .about p br, #bottom-panel .about p br {
  line-height: 2;
}

#middle-panel .about-images .cars, #middle-panel .about-images .team, #middle-panel .about-images .formula-student, #top-panel .about-images .cars, #top-panel .about-images .team, #top-panel .about-images .formula-student, #middle-bottom-panel .about-images .cars, #middle-bottom-panel .about-images .team, #middle-bottom-panel .about-images .formula-student {
  height: calc((100vh - 71px)/3);
}
#middle-panel .about-images .cars, #top-panel .about-images .cars, #middle-bottom-panel .about-images .cars {
  background-image: url(../images/photos/cars.png);
  background-size: cover;
  background-position: center;
}
#middle-panel .about-images .team, #top-panel .about-images .team, #middle-bottom-panel .about-images .team {
  background-image: url(../images/photos/team.png);
  background-size: cover;
  background-position: center;
}
#middle-panel .about-images .formula-student, #top-panel .about-images .formula-student, #middle-bottom-panel .about-images .formula-student {
  background-image: url(../images/photos/formula-student.png);
  background-size: cover;
  background-position: center;
}

#aboutPanelMiddleTop, #aboutPanelBottom {
  margin-bottom: 50px;
}

#left-panel .team {
  padding: 0px 15px;
}
#left-panel .team h1 {
  text-align: center;
  margin: 50px 0px;
}
#left-panel .team p {
  text-align: justify;
  text-justify: inter-word;
}
#left-panel .team p br {
  line-height: 2;
}

#left-panel #sponsorsPanel,
#top-panel #sponsorsPanel {
  padding: 0px 30px;
}
#left-panel #sponsorsPanel h1,
#top-panel #sponsorsPanel h1 {
  text-align: center;
  margin: 50px 0px;
}
#left-panel #sponsorsPanel p,
#top-panel #sponsorsPanel p {
  text-align: justify;
  text-justify: inter-word;
}

#middle-panel .sponsors-list {
  height: calc(100vh - 71px);
  overflow: auto;
}

#left-panel #sponsorInfoPanel {
  padding: 0 20px;
}
#left-panel #sponsorInfoPanel h3 {
  margin: 0px auto 30px;
  text-align: center;
  font-size: 25px;
}
#left-panel #sponsorInfoPanel img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
#left-panel #sponsorInfoPanel p {
  text-align: justify;
  text-justify: inter-word;
}
#left-panel #sponsorInfoPanel p br {
  line-height: 2;
}

#middle-panel .sponsors-list,
#middle-top-panel .sponsors-list {
  text-align: center;
}
#middle-panel .sponsors-list h2,
#middle-top-panel .sponsors-list h2 {
  font-size: 30px;
  margin-top: 50px;
}
#middle-panel .sponsors-list .sponsors,
#middle-top-panel .sponsors-list .sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#middle-panel .sponsors-list .sponsors .sponsor img,
#middle-top-panel .sponsors-list .sponsors .sponsor img {
  max-width: 100%;
}
#middle-panel .sponsors-list .sponsors .sponsor img:hover,
#middle-top-panel .sponsors-list .sponsors .sponsor img:hover {
  cursor: pointer;
  border: 3px solid #f9f9f9;
}
#middle-panel .sponsors-list .sponsors.platinum-sponsor .sponsor,
#middle-top-panel .sponsors-list .sponsors.platinum-sponsor .sponsor {
  margin: 0 30px;
  width: 35%;
}
#middle-panel .sponsors-list .sponsors.gold-sponsor .sponsor,
#middle-top-panel .sponsors-list .sponsors.gold-sponsor .sponsor {
  margin: 0 50px;
  width: 17%;
}
#middle-panel .sponsors-list .sponsors.silver-sponsor .sponsor,
#middle-top-panel .sponsors-list .sponsors.silver-sponsor .sponsor {
  margin: 0 30px;
  width: 15%;
}
#middle-panel .sponsors-list .sponsors.bronze-sponsor .sponsor,
#middle-top-panel .sponsors-list .sponsors.bronze-sponsor .sponsor {
  margin: 0 10px;
  width: 12%;
}
#middle-panel .sponsors-list .sponsors.partners-sponsor .sponsor,
#middle-top-panel .sponsors-list .sponsors.partners-sponsor .sponsor {
  margin: 0 10px;
  width: 10%;
}
#middle-panel .sponsors-list .sponsors.institutional-partners-sponsor .sponsor,
#middle-top-panel .sponsors-list .sponsors.institutional-partners-sponsor .sponsor {
  margin: 0 15px;
  width: 10%;
}

#middle-panel .contact-map {
  height: calc(100vh - 74px);
}

#right-panel #contactsPanelRight #contactFormPanel {
  padding: 0px 20px;
}

#right-panel #contactsPanelRight #contactInfoPanel h1, #right-panel #contactsPanelMiddleTop #contactInfoPanel h1, #middle-top-panel #contactsPanelRight #contactInfoPanel h1, #middle-top-panel #contactsPanelMiddleTop #contactInfoPanel h1 {
  text-align: center;
  margin: 50px 0px;
}
#right-panel #contactsPanelRight #contactInfoPanel p, #right-panel #contactsPanelMiddleTop #contactInfoPanel p, #middle-top-panel #contactsPanelRight #contactInfoPanel p, #middle-top-panel #contactsPanelMiddleTop #contactInfoPanel p {
  font-size: 16px;
  padding: 0px 20px;
}
#right-panel #contactsPanelRight #contactInfoPanel p br, #right-panel #contactsPanelMiddleTop #contactInfoPanel p br, #middle-top-panel #contactsPanelRight #contactInfoPanel p br, #middle-top-panel #contactsPanelMiddleTop #contactInfoPanel p br {
  line-height: 1.2;
}
#right-panel #contactsPanelRight #contactInfoPanel p.title, #right-panel #contactsPanelMiddleTop #contactInfoPanel p.title, #middle-top-panel #contactsPanelRight #contactInfoPanel p.title, #middle-top-panel #contactsPanelMiddleTop #contactInfoPanel p.title {
  font-weight: bold;
}
#right-panel #contactsPanelRight #contactInfoPanel span, #right-panel #contactsPanelMiddleTop #contactInfoPanel span, #middle-top-panel #contactsPanelRight #contactInfoPanel span, #middle-top-panel #contactsPanelMiddleTop #contactInfoPanel span {
  display: block;
  text-align: center;
}
#right-panel #contactsPanelRight #contactFormPanel .close-form, #right-panel #contactsPanelMiddleTop #contactFormPanel .close-form, #middle-top-panel #contactsPanelRight #contactFormPanel .close-form, #middle-top-panel #contactsPanelMiddleTop #contactFormPanel .close-form {
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  top: 80px;
}
#right-panel #contactsPanelRight #contactFormPanel h1, #right-panel #contactsPanelMiddleTop #contactFormPanel h1, #middle-top-panel #contactsPanelRight #contactFormPanel h1, #middle-top-panel #contactsPanelMiddleTop #contactFormPanel h1 {
  text-align: center;
  margin: 50px 0px;
}
#right-panel #contactsPanelRight #contactFormPanel form, #right-panel #contactsPanelMiddleTop #contactFormPanel form, #middle-top-panel #contactsPanelRight #contactFormPanel form, #middle-top-panel #contactsPanelMiddleTop #contactFormPanel form {
  margin-top: 50px;
}
#right-panel #contactsPanelRight #contactFormPanel form label, #right-panel #contactsPanelMiddleTop #contactFormPanel form label, #middle-top-panel #contactsPanelRight #contactFormPanel form label, #middle-top-panel #contactsPanelMiddleTop #contactFormPanel form label {
  display: block;
}
#right-panel #contactsPanelRight #contactFormPanel form input, #right-panel #contactsPanelMiddleTop #contactFormPanel form input, #middle-top-panel #contactsPanelRight #contactFormPanel form input, #middle-top-panel #contactsPanelMiddleTop #contactFormPanel form input {
  width: 100%;
  margin: 10px 0px;
  height: 30px;
}
#right-panel #contactsPanelRight #contactFormPanel form textarea, #right-panel #contactsPanelMiddleTop #contactFormPanel form textarea, #middle-top-panel #contactsPanelRight #contactFormPanel form textarea, #middle-top-panel #contactsPanelMiddleTop #contactFormPanel form textarea {
  width: 100%;
  margin: 10px 0px;
  height: 125px;
}

#middle-top-panel #contactsPanelMiddleTop {
  margin-bottom: 50px;
  padding: 0 10px;
}
#middle-top-panel #contactsPanelMiddleTop #contactFormPanel {
  padding: 0px 20px;
}
#middle-top-panel #contactsPanelMiddleTop #contactFormPanel .close-form {
  top: 250px;
}

#left-panel, #right-panel {
  background-color: #f4fcff;
}

#middle-panel {
  background-color: #f9f9f9;
}

#left-panel, #middle-panel, #right-panel {
  height: calc(100vh - 71px);
}

#top-panel, #middle-top-panel, #middle-bottom-panel, #bottom-panel {
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto", sans-serif;
}

.panels {
  padding: 0 !important;
  background-color: #fafafa;
}
.panels .panel {
  float: left;
}
.panels .panel .page-panel {
  display: none;
  width: 100%;
}
.panels .panel .page-panel.open {
  display: block;
}
.panels .panel#middle-panel {
  padding: 0;
}
.panels .panel#middle-panel .formula-student-photo {
  height: calc(100vh - 71px);
  background-image: url(../images/photos/formula-student.png);
  background-size: cover;
  background-position-x: -20px;
}

/*# sourceMappingURL=styles/index.css.map */
